@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager

<PageTitle>Dr. Imran Khan - Clinical Informatics</PageTitle>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="css/custom.css">

<div class="wrapper">
    <div class="page">
        <div class="sidebar">
            <div class="profile-section">
                <img src="https://khanclinicalinformatics.net/docs/assets/profile.jpg" alt="Dr. Imran Khan" class="profile-image">
                <h1 class="profile-name">Dr. Imran Khan</h1>
                <h2 class="profile-credentials">B.Eng PhD MBBS MRCGP</h2>
                <h3 class="profile-title">Clinical Informatics</h3>
                
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/imran-khan-6342bb167/" target="_blank" class="social-icon linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="mailto:imran@khanclinicalinformatics.net" class="social-icon email">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="https://github.com/KhanInformatics" target="_blank" class="social-icon github">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                
                <div class="download-cv">
                    <a href="https://khaninformatics.github.io/ResumeMark/docs/assets/DrImranKhanCV.pdf" target="_blank">
                        Download CV as PDF here
                    </a>
                </div>
                
                <NavMenu />
            </div>
        </div>

        <main>
            <div class="main-content">
                @Body
            </div>
        </main>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
