<div class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link" href="cv">
        CV
    </NavLink>
    <NavLink class="nav-link" href="https://www.gmc-uk.org/doctors/7278705" target="_blank">
        GMC Register
    </NavLink>
    <NavLink class="nav-link" href="mailto:imran@khanclinicalinformatics.net">
        Contact
    </NavLink>
</div>

